--
-- PostgreSQL database dump
--

\restrict 3upwNDQbgPw3Ut3xjXCiNXfvTIGNrD2iafgE3FZ0iycpuMBq3fEUK9G1oTNVQWB

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_conversation_summaries; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.agent_conversation_summaries (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    summary text NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent_conversation_summaries OWNER TO app;

--
-- Name: agent_conversations; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.agent_conversations (
    id uuid NOT NULL,
    owner_id uuid NOT NULL,
    agent_id character varying(64) NOT NULL,
    context_ref json NOT NULL,
    title character varying(160) NOT NULL,
    rag_enabled boolean NOT NULL,
    stage character varying(32) NOT NULL,
    pinned boolean DEFAULT false NOT NULL,
    share_token character varying(64),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent_conversations OWNER TO app;

--
-- Name: agent_memories; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.agent_memories (
    id uuid NOT NULL,
    owner_id uuid NOT NULL,
    agent_id character varying(64) NOT NULL,
    key character varying(128) NOT NULL,
    value text NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent_memories OWNER TO app;

--
-- Name: agent_messages; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.agent_messages (
    id uuid NOT NULL,
    conversation_id uuid NOT NULL,
    role character varying(16) NOT NULL,
    content text NOT NULL,
    citations json,
    options json,
    spec json,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent_messages OWNER TO app;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO app;

--
-- Name: assignment_class_links; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.assignment_class_links (
    id uuid NOT NULL,
    assignment_id uuid NOT NULL,
    class_id uuid NOT NULL,
    published_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assignment_class_links OWNER TO app;

--
-- Name: assignment_folders; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.assignment_folders (
    id uuid NOT NULL,
    owner_id uuid NOT NULL,
    name character varying(64) NOT NULL,
    sort_no integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assignment_folders OWNER TO app;

--
-- Name: assignment_students; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.assignment_students (
    id uuid NOT NULL,
    assignment_id uuid NOT NULL,
    student_id uuid NOT NULL
);


ALTER TABLE public.assignment_students OWNER TO app;

--
-- Name: assignments; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.assignments (
    id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    class_id uuid,
    title character varying(160) NOT NULL,
    mode character varying(16) NOT NULL,
    description text,
    type_scores json,
    passing_score integer,
    review_mode character varying(16) NOT NULL,
    folder_id uuid,
    deadline timestamp with time zone,
    status character varying(16) NOT NULL,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.assignments OWNER TO app;

--
-- Name: attendances; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.attendances (
    id uuid NOT NULL,
    schedule_id uuid NOT NULL,
    student_id uuid NOT NULL,
    status character varying(16) NOT NULL,
    operator_id uuid,
    is_trial boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.attendances OWNER TO app;

--
-- Name: campuses; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.campuses (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    sort integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.campuses OWNER TO app;

--
-- Name: class_ppts; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.class_ppts (
    id uuid NOT NULL,
    class_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    title character varying(160),
    content json NOT NULL,
    stats json,
    averages json,
    honor_roll json,
    ppt_url character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    material_hash character varying(64)
);


ALTER TABLE public.class_ppts OWNER TO app;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.classes (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    subject character varying(64) NOT NULL,
    teacher_id uuid,
    start_date date,
    status character varying(16) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.classes OWNER TO app;

--
-- Name: commission_rules; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.commission_rules (
    id uuid NOT NULL,
    key character varying(64) NOT NULL,
    label character varying(128) NOT NULL,
    amount numeric(10,2) NOT NULL,
    unit character varying(32) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.commission_rules OWNER TO app;

--
-- Name: evaluations; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.evaluations (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    period_start date NOT NULL,
    period_end date NOT NULL,
    title character varying(160),
    content json NOT NULL,
    stats json,
    ai_draft json,
    ppt_url character varying(255),
    status character varying(16) NOT NULL,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.evaluations OWNER TO app;

--
-- Name: feedbacks; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.feedbacks (
    id uuid NOT NULL,
    schedule_id uuid NOT NULL,
    student_id uuid NOT NULL,
    title text,
    topic text,
    content text,
    performance text,
    evaluation text,
    homework text,
    media_urls json NOT NULL,
    status character varying(16) NOT NULL,
    published_at timestamp with time zone,
    ai_draft json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.feedbacks OWNER TO app;

--
-- Name: finance_settings; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.finance_settings (
    id integer NOT NULL,
    commission_default numeric(5,4) NOT NULL,
    overdraft_max numeric(6,1) NOT NULL,
    note text,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.finance_settings OWNER TO app;

--
-- Name: invitations; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.invitations (
    id uuid NOT NULL,
    staff_id uuid,
    parent_name character varying(64) NOT NULL,
    parent_phone character varying(20),
    student_name character varying(64) NOT NULL,
    subject_id uuid,
    subject_name character varying(64) NOT NULL,
    status character varying(16) NOT NULL,
    chat_images json,
    remark text,
    trial_student_id uuid,
    trial_schedule_id uuid,
    trial_class_id uuid,
    trial_teacher_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invitations OWNER TO app;

--
-- Name: job_titles; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.job_titles (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    permissions json DEFAULT '{}'::json NOT NULL,
    base_salary numeric(10,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.job_titles OWNER TO app;

--
-- Name: knowledge_collections; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.knowledge_collections (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    doc_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.knowledge_collections OWNER TO app;

--
-- Name: knowledge_documents; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.knowledge_documents (
    id uuid NOT NULL,
    owner_id uuid NOT NULL,
    title character varying(160) NOT NULL,
    description text NOT NULL,
    visibility character varying(16) NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    file_name character varying(255) NOT NULL,
    file_path character varying(512) NOT NULL,
    status character varying(16) NOT NULL,
    error text,
    chunk_count integer NOT NULL,
    extra json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.knowledge_documents OWNER TO app;

--
-- Name: lesson_packages; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.lesson_packages (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    price numeric(10,2) NOT NULL,
    total_lessons integer NOT NULL,
    subject_id uuid,
    tag character varying(16) NOT NULL,
    sale_start timestamp with time zone,
    sale_end timestamp with time zone,
    published_at timestamp with time zone,
    cover_image character varying(255),
    status character varying(16) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lesson_packages OWNER TO app;

--
-- Name: lesson_records; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.lesson_records (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    record_type character varying(16) NOT NULL,
    delta numeric(10,1) NOT NULL,
    balance_after numeric(10,1) NOT NULL,
    unit_price numeric(10,4),
    amount numeric(10,2),
    ref_id uuid,
    remark text,
    operator_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.lesson_records OWNER TO app;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    type character varying(32) NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    data json,
    read_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notifications OWNER TO app;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.orders (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    package_id uuid,
    amount numeric(10,2) NOT NULL,
    status character varying(16) NOT NULL,
    paid_at timestamp with time zone,
    confirmed_at timestamp with time zone,
    expires_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    refund_amount numeric(10,2),
    refund_note text,
    refund_detail json,
    refunded_at timestamp with time zone
);


ALTER TABLE public.orders OWNER TO app;

--
-- Name: payroll_entries; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.payroll_entries (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    month character varying(7) NOT NULL,
    base_salary numeric(10,2) NOT NULL,
    lesson_commission numeric(10,2) NOT NULL,
    invite_count integer NOT NULL,
    invite_bonus numeric(10,2) NOT NULL,
    trial_count integer NOT NULL,
    trial_bonus numeric(10,2) NOT NULL,
    convert_count integer NOT NULL,
    convert_bonus numeric(10,2) NOT NULL,
    renew_count integer NOT NULL,
    renew_bonus numeric(10,2) NOT NULL,
    refer_count integer NOT NULL,
    refer_bonus numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    detail json,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.payroll_entries OWNER TO app;

--
-- Name: prompt_templates; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.prompt_templates (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    content text NOT NULL,
    scope character varying(16) NOT NULL,
    owner_id uuid,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.prompt_templates OWNER TO app;

--
-- Name: questions; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.questions (
    id uuid NOT NULL,
    assignment_id uuid NOT NULL,
    order_no integer NOT NULL,
    type character varying(24) NOT NULL,
    stem text NOT NULL,
    options json,
    answer json,
    analysis text,
    difficulty integer NOT NULL,
    test_cases json,
    language character varying(16),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.questions OWNER TO app;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.reports (
    id uuid NOT NULL,
    type character varying(16) NOT NULL,
    teacher_id uuid NOT NULL,
    period_start timestamp with time zone NOT NULL,
    period_end timestamp with time zone NOT NULL,
    title character varying(160),
    content json NOT NULL,
    stats json,
    ppt_url character varying(255),
    status character varying(16) NOT NULL,
    published_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reports OWNER TO app;

--
-- Name: revenue_ledger; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.revenue_ledger (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    schedule_id uuid,
    teacher_id uuid,
    subject_id uuid,
    subject_name character varying(64) NOT NULL,
    lessons numeric(4,1) NOT NULL,
    is_overdraft boolean DEFAULT false NOT NULL,
    unit_price numeric(10,4) NOT NULL,
    amount numeric(10,2) NOT NULL,
    commission_rate numeric(5,4) NOT NULL,
    commission numeric(10,2) NOT NULL,
    detail json,
    consumed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.revenue_ledger OWNER TO app;

--
-- Name: schedules; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.schedules (
    id uuid NOT NULL,
    class_id uuid,
    teacher_id uuid NOT NULL,
    start_time timestamp with time zone NOT NULL,
    end_time timestamp with time zone NOT NULL,
    status character varying(16) NOT NULL,
    is_trial boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.schedules OWNER TO app;

--
-- Name: student_classes; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.student_classes (
    student_id uuid NOT NULL,
    class_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.student_classes OWNER TO app;

--
-- Name: students; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.students (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    phone character varying(20),
    campus character varying(64),
    parent_user_id uuid,
    student_user_id uuid,
    lesson_balance numeric(10,1) NOT NULL,
    trial_status character varying(16) NOT NULL,
    source character varying(16) NOT NULL,
    referrer character varying(64),
    follow_up_status character varying(16) NOT NULL,
    follow_up_at timestamp with time zone,
    follow_up_note text,
    stop_note text,
    status character varying(16) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    gender character varying(8) DEFAULT ''::character varying
);


ALTER TABLE public.students OWNER TO app;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.subjects (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    per_session numeric(4,1) NOT NULL,
    commission_rate numeric(5,4),
    active boolean DEFAULT true NOT NULL,
    sort integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.subjects OWNER TO app;

--
-- Name: submissions; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.submissions (
    id uuid NOT NULL,
    assignment_id uuid NOT NULL,
    student_id uuid NOT NULL,
    answers json,
    judge_results json,
    score integer,
    total integer,
    status character varying(24) NOT NULL,
    submitted_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.submissions OWNER TO app;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.system_settings (
    id integer NOT NULL,
    login_theme character varying(32) NOT NULL,
    desktop_bg character varying(512) NOT NULL,
    ui_theme character varying(32) NOT NULL,
    login_title character varying(64) NOT NULL,
    login_subtitle character varying(128) NOT NULL,
    login_logo character varying(512) NOT NULL,
    login_accent character varying(32) NOT NULL,
    login_hero character varying(128) NOT NULL,
    sidebar_sub character varying(64) NOT NULL,
    sidebar_theme character varying(16) NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_settings OWNER TO app;

--
-- Name: teacher_levels; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.teacher_levels (
    id uuid NOT NULL,
    name character varying(64) NOT NULL,
    ratio numeric(5,4) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    sort integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teacher_levels OWNER TO app;

--
-- Name: teacher_llm_configs; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.teacher_llm_configs (
    id uuid NOT NULL,
    owner_id uuid NOT NULL,
    name character varying(64) NOT NULL,
    base_url character varying(256) NOT NULL,
    api_key_enc text NOT NULL,
    model character varying(128) NOT NULL,
    embed_model character varying(128),
    is_default boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teacher_llm_configs OWNER TO app;

--
-- Name: teacher_module_models; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.teacher_module_models (
    owner_id uuid NOT NULL,
    module character varying(32) NOT NULL,
    config_id uuid,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.teacher_module_models OWNER TO app;

--
-- Name: teacher_permissions; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.teacher_permissions (
    teacher_id uuid NOT NULL,
    student_create boolean DEFAULT true NOT NULL,
    student_edit boolean DEFAULT true NOT NULL,
    student_records boolean DEFAULT true NOT NULL,
    student_adjust boolean DEFAULT true NOT NULL,
    student_refund boolean DEFAULT true NOT NULL,
    student_stop boolean DEFAULT true NOT NULL,
    student_delete boolean DEFAULT false NOT NULL,
    class_unenroll boolean DEFAULT true NOT NULL,
    class_view boolean DEFAULT true NOT NULL,
    class_create boolean DEFAULT true NOT NULL,
    class_edit boolean DEFAULT true NOT NULL,
    class_delete boolean DEFAULT true NOT NULL,
    teacher_add boolean DEFAULT false NOT NULL,
    teacher_view boolean DEFAULT true NOT NULL,
    teacher_edit boolean DEFAULT false NOT NULL,
    teacher_delete boolean DEFAULT false NOT NULL,
    schedule_create boolean DEFAULT true NOT NULL,
    package_create boolean DEFAULT false NOT NULL,
    package_off boolean DEFAULT false NOT NULL,
    order_visible boolean DEFAULT false NOT NULL,
    settings_manage boolean DEFAULT false NOT NULL,
    finance_view boolean DEFAULT false NOT NULL,
    nav_students boolean DEFAULT true NOT NULL,
    nav_classes boolean DEFAULT true NOT NULL,
    nav_teachers boolean DEFAULT true NOT NULL,
    nav_schedules boolean DEFAULT true NOT NULL,
    nav_packages boolean DEFAULT true NOT NULL,
    nav_feedbacks boolean DEFAULT true NOT NULL,
    nav_reports boolean DEFAULT true NOT NULL,
    nav_evaluations boolean DEFAULT true NOT NULL,
    nav_agents boolean DEFAULT true NOT NULL,
    nav_assignments boolean DEFAULT true NOT NULL,
    nav_invitations boolean DEFAULT true NOT NULL,
    nav_finance boolean DEFAULT false NOT NULL,
    nav_settings boolean DEFAULT false NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    schedule_cancel boolean DEFAULT false NOT NULL,
    invitation_create boolean DEFAULT true NOT NULL,
    package_edit boolean DEFAULT false NOT NULL,
    assignment_ai boolean DEFAULT true NOT NULL,
    assignment_create boolean DEFAULT true NOT NULL,
    settings_tab_personalize boolean DEFAULT false NOT NULL,
    settings_tab_model boolean DEFAULT false NOT NULL,
    settings_tab_business boolean DEFAULT false NOT NULL,
    finance_revenue boolean DEFAULT false NOT NULL,
    finance_records boolean DEFAULT false NOT NULL,
    finance_salary boolean DEFAULT false NOT NULL,
    finance_salary_all boolean DEFAULT false NOT NULL
);


ALTER TABLE public.teacher_permissions OWNER TO app;

--
-- Name: users; Type: TABLE; Schema: public; Owner: app
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    role character varying(16) NOT NULL,
    username character varying(64) NOT NULL,
    phone character varying(20),
    name character varying(64) NOT NULL,
    password_hash character varying(255) NOT NULL,
    campus character varying(64),
    title character varying(64),
    teacher_level_id character varying(64),
    teacher_level_name character varying(64),
    base_salary numeric(10,2),
    status character varying(16) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO app;

--
-- Data for Name: agent_conversation_summaries; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.agent_conversation_summaries (id, conversation_id, summary, updated_at) FROM stdin;
\.


--
-- Data for Name: agent_conversations; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.agent_conversations (id, owner_id, agent_id, context_ref, title, rag_enabled, stage, pinned, share_token, created_at, updated_at) FROM stdin;
716424a5-e025-48b4-bb3b-47045fea3bf6	2aecd4d9-2d78-47f6-8ce2-affeaac5f3bf	report_ppt	{}	你好	f	data	f	\N	2026-10-05 08:24:52.746289+00	2026-10-06 06:52:09.828452+00
4521e4f9-6067-4457-be45-e3626359b768	2aecd4d9-2d78-47f6-8ce2-affeaac5f3bf	assistant	{}	你好	t	chat	f	\N	2026-10-07 07:22:07.913906+00	2026-10-07 07:22:23.507558+00
\.


--
-- Data for Name: agent_memories; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.agent_memories (id, owner_id, agent_id, key, value, updated_at) FROM stdin;
\.


--
-- Data for Name: agent_messages; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.alembic_version (version_num) FROM stdin;
c0ffee000024
\.


--
-- Data for Name: assignment_class_links; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.assignment_class_links (id, assignment_id, class_id, published_at) FROM stdin;
\.


--
-- Data for Name: assignment_folders; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.assignment_folders (id, owner_id, name, sort_no, created_at) FROM stdin;
\.


--
-- Data for Name: assignment_students; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.assignment_students (id, assignment_id, student_id) FROM stdin;
\.


--
-- Data for Name: assignments; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.assignments (id, teacher_id, class_id, title, mode, description, type_scores, passing_score, review_mode, folder_id, deadline, status, published_at, created_at, updated_at) FROM stdin;
4730c37c-05ee-4d3c-9fe4-0b1e84dc2156	2aecd4d9-2d78-47f6-8ce2-affeaac5f3bf	\N	AI 生成作业草稿	HOMEWORK	\N	{"single_choice": 1, "multiple_choice": 1, "judgement": 1, "code_fill": 1, "programming": 1}	\N	auto	\N	\N	draft	\N	2026-10-05 13:07:10.506068+00	2026-10-05 13:07:10.506068+00
\.


--
-- Data for Name: attendances; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: campuses; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.campuses (id, name, active, sort, created_at) FROM stdin;
5f1b8b93-00bf-4320-aaec-101a490fa7b2	一校	t	0	2026-10-04 11:47:24.4947+00
411de4db-5e66-4f5b-8e5c-9dd49ddba952	二校	t	1	2026-10-04 11:47:24.4947+00
50b188d0-66db-40b0-810d-1759f93cff2d	三校	t	2	2026-10-04 13:07:00.653985+00
d1cdad3c-e0b5-4ad8-a86c-90e3e5f5fd01	总部	t	3	2026-10-04 11:47:24.4947+00
\.


--
-- Data for Name: class_ppts; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.class_ppts (id, class_id, teacher_id, period_start, period_end, title, content, stats, averages, honor_roll, ppt_url, created_at, updated_at, material_hash) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.classes (id, name, subject, teacher_id, start_date, status, created_at) FROM stdin;
411b4ed5-b10a-4307-9c21-e8de901fa3a8	he_python_1班	python	889173f6-4e23-43cf-bc62-560f5fa0518e	2026-10-04	active	2026-10-04 13:49:51.647824+00
c6cbf13b-9a80-4aa5-a170-c35fc43d44b6	he_c++_1班	python	889173f6-4e23-43cf-bc62-560f5fa0518e	2026-10-07	active	2026-10-07 07:25:00.031136+00
\.


--
-- Data for Name: commission_rules; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: evaluations; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.evaluations (id, student_id, teacher_id, period_start, period_end, title, content, stats, ai_draft, ppt_url, status, published_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: feedbacks; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.feedbacks (id, schedule_id, student_id, title, topic, content, performance, evaluation, homework, media_urls, status, published_at, ai_draft, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: finance_settings; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.finance_settings (id, commission_default, overdraft_max, note, updated_at) FROM stdin;
1	0.3000	10.0	\N	2026-10-04 11:47:28.446235+00
\.


--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: job_titles; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: knowledge_collections; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.knowledge_collections (id, user_id, doc_id, created_at) FROM stdin;
\.


--
-- Data for Name: knowledge_documents; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.knowledge_documents (id, owner_id, title, description, visibility, enabled, file_name, file_path, status, error, chunk_count, extra, created_at, updated_at) FROM stdin;
0f94c13d-b3df-4bc0-8cab-ed94899d2d5b	2aecd4d9-2d78-47f6-8ce2-affeaac5f3bf	child_code规章制度	公司规章制度	private	t	child_code规章制度.txt	/srv/app/uploads/knowledge/d84288ec0f4e46768b2aa35dff3b637d.txt	failed	未配置 embedding 模型：请到 设置 → 模型配置 添加并填写 embedding 模型	0	{}	2026-10-05 08:22:16.316355+00	2026-10-07 07:20:35.339672+00
\.


--
-- Data for Name: lesson_packages; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.lesson_packages (id, name, price, total_lessons, subject_id, tag, sale_start, sale_end, published_at, cover_image, status, created_at, updated_at) FROM stdin;
ab30b533-a31c-41ce-87ff-be403166fe67	python常规课	5000.00	100	7cb557ad-41d8-4f83-8704-83ece336e82f	regular	\N	\N	2026-10-04 14:05:51.991863+00	\N	active	2026-10-04 14:05:51.98953+00	2026-10-04 14:05:51.98953+00
\.


--
-- Data for Name: lesson_records; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: payroll_entries; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: prompt_templates; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: revenue_ledger; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: schedules; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: student_classes; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.student_classes (student_id, class_id, created_at) FROM stdin;
f96364c2-ec0a-4899-b5a8-13591418df71	c6cbf13b-9a80-4aa5-a170-c35fc43d44b6	2026-10-07 07:25:14.348353+00
45f1172a-5aa6-47bd-9ef1-558db1a77ff2	c6cbf13b-9a80-4aa5-a170-c35fc43d44b6	2026-10-07 07:25:19.640152+00
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: submissions; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.submissions (id, assignment_id, student_id, answers, judge_results, score, total, status, submitted_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.system_settings (id, login_theme, desktop_bg, ui_theme, login_title, login_subtitle, login_logo, login_accent, login_hero, sidebar_sub, sidebar_theme, updated_at) FROM stdin;
1	default	default	default	智能少儿编程教育	教务管理系统 · 教师效率提升 家长服务闭环			排课 · 考勤 · 课时 · 反馈，一站式教务	Child Code Studio	navy	2026-10-04 11:03:52.592539+00
\.


--
-- Data for Name: teacher_levels; Type: TABLE DATA; Schema: public; Owner: app
--

COPY public.teacher_levels (id, name, ratio, active, sort, created_at) FROM stdin;
69ae655b-6630-409f-b24d-790ee925ab1f	P1	0.1000	t	1	2026-10-04 11:01:21.137393+00
60b0a7c6-23f5-4266-94fd-3cd1862fb3b7	P2	0.1500	t	2	2026-10-04 11:01:21.137393+00
a7dd0075-58f3-40a9-a671-9ad229252096	P3	0.2000	t	3	2026-10-04 11:01:21.137393+00
083f32a2-ed96-4f32-a1bf-5828350cebda	p4	0.2500	t	3	2026-10-04 13:07:55.08761+00
\.


--
-- Data for Name: teacher_llm_configs; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: teacher_module_models; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: teacher_permissions; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: app
--



--
-- Name: agent_conversation_summaries agent_conversation_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_conversation_summaries
    ADD CONSTRAINT agent_conversation_summaries_pkey PRIMARY KEY (id);


--
-- Name: agent_conversations agent_conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_conversations
    ADD CONSTRAINT agent_conversations_pkey PRIMARY KEY (id);


--
-- Name: agent_memories agent_memories_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_memories
    ADD CONSTRAINT agent_memories_pkey PRIMARY KEY (id);


--
-- Name: agent_messages agent_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_messages
    ADD CONSTRAINT agent_messages_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: assignment_class_links assignment_class_links_assignment_id_class_id_key; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_class_links
    ADD CONSTRAINT assignment_class_links_assignment_id_class_id_key UNIQUE (assignment_id, class_id);


--
-- Name: assignment_class_links assignment_class_links_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_class_links
    ADD CONSTRAINT assignment_class_links_pkey PRIMARY KEY (id);


--
-- Name: assignment_folders assignment_folders_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_folders
    ADD CONSTRAINT assignment_folders_pkey PRIMARY KEY (id);


--
-- Name: assignment_students assignment_students_assignment_id_student_id_key; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_students
    ADD CONSTRAINT assignment_students_assignment_id_student_id_key UNIQUE (assignment_id, student_id);


--
-- Name: assignment_students assignment_students_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_students
    ADD CONSTRAINT assignment_students_pkey PRIMARY KEY (id);


--
-- Name: assignments assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_pkey PRIMARY KEY (id);


--
-- Name: attendances attendances_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_pkey PRIMARY KEY (id);


--
-- Name: campuses campuses_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.campuses
    ADD CONSTRAINT campuses_pkey PRIMARY KEY (id);


--
-- Name: class_ppts class_ppts_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.class_ppts
    ADD CONSTRAINT class_ppts_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: commission_rules commission_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.commission_rules
    ADD CONSTRAINT commission_rules_pkey PRIMARY KEY (id);


--
-- Name: evaluations evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_pkey PRIMARY KEY (id);


--
-- Name: feedbacks feedbacks_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_pkey PRIMARY KEY (id);


--
-- Name: finance_settings finance_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.finance_settings
    ADD CONSTRAINT finance_settings_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: job_titles job_titles_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.job_titles
    ADD CONSTRAINT job_titles_pkey PRIMARY KEY (id);


--
-- Name: knowledge_collections knowledge_collections_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.knowledge_collections
    ADD CONSTRAINT knowledge_collections_pkey PRIMARY KEY (id);


--
-- Name: knowledge_documents knowledge_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.knowledge_documents
    ADD CONSTRAINT knowledge_documents_pkey PRIMARY KEY (id);


--
-- Name: lesson_packages lesson_packages_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.lesson_packages
    ADD CONSTRAINT lesson_packages_pkey PRIMARY KEY (id);


--
-- Name: lesson_records lesson_records_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.lesson_records
    ADD CONSTRAINT lesson_records_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payroll_entries payroll_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.payroll_entries
    ADD CONSTRAINT payroll_entries_pkey PRIMARY KEY (id);


--
-- Name: prompt_templates prompt_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prompt_templates
    ADD CONSTRAINT prompt_templates_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: revenue_ledger revenue_ledger_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.revenue_ledger
    ADD CONSTRAINT revenue_ledger_pkey PRIMARY KEY (id);


--
-- Name: schedules schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_pkey PRIMARY KEY (id);


--
-- Name: student_classes student_classes_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.student_classes
    ADD CONSTRAINT student_classes_pkey PRIMARY KEY (student_id, class_id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: submissions submissions_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: teacher_levels teacher_levels_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_levels
    ADD CONSTRAINT teacher_levels_pkey PRIMARY KEY (id);


--
-- Name: teacher_llm_configs teacher_llm_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_llm_configs
    ADD CONSTRAINT teacher_llm_configs_pkey PRIMARY KEY (id);


--
-- Name: teacher_module_models teacher_module_models_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_module_models
    ADD CONSTRAINT teacher_module_models_pkey PRIMARY KEY (owner_id, module);


--
-- Name: teacher_permissions teacher_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_permissions
    ADD CONSTRAINT teacher_permissions_pkey PRIMARY KEY (teacher_id);


--
-- Name: class_ppts uq_class_ppt_period; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.class_ppts
    ADD CONSTRAINT uq_class_ppt_period UNIQUE (class_id, period_start, period_end);


--
-- Name: evaluations uq_evaluation_period; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT uq_evaluation_period UNIQUE (student_id, period_start, period_end);


--
-- Name: feedbacks uq_feedback_schedule_student; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT uq_feedback_schedule_student UNIQUE (schedule_id, student_id);


--
-- Name: teacher_llm_configs uq_llm_config_owner_name; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_llm_configs
    ADD CONSTRAINT uq_llm_config_owner_name UNIQUE (owner_id, name);


--
-- Name: reports uq_report_period; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT uq_report_period UNIQUE (type, teacher_id, period_start, period_end);


--
-- Name: attendances uq_schedule_student; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT uq_schedule_student UNIQUE (schedule_id, student_id);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_agent_conversation_summaries_conversation_id; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_agent_conversation_summaries_conversation_id ON public.agent_conversation_summaries USING btree (conversation_id);


--
-- Name: ix_agent_conversations_agent_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_agent_conversations_agent_id ON public.agent_conversations USING btree (agent_id);


--
-- Name: ix_agent_conversations_owner_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_agent_conversations_owner_id ON public.agent_conversations USING btree (owner_id);


--
-- Name: ix_agent_conversations_share_token; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_agent_conversations_share_token ON public.agent_conversations USING btree (share_token);


--
-- Name: ix_agent_memories_agent_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_agent_memories_agent_id ON public.agent_memories USING btree (agent_id);


--
-- Name: ix_agent_memories_owner_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_agent_memories_owner_id ON public.agent_memories USING btree (owner_id);


--
-- Name: ix_agent_messages_conversation_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_agent_messages_conversation_id ON public.agent_messages USING btree (conversation_id);


--
-- Name: ix_assignment_class_links_assignment_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignment_class_links_assignment_id ON public.assignment_class_links USING btree (assignment_id);


--
-- Name: ix_assignment_class_links_class_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignment_class_links_class_id ON public.assignment_class_links USING btree (class_id);


--
-- Name: ix_assignment_folders_owner_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignment_folders_owner_id ON public.assignment_folders USING btree (owner_id);


--
-- Name: ix_assignment_students_assignment_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignment_students_assignment_id ON public.assignment_students USING btree (assignment_id);


--
-- Name: ix_assignment_students_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignment_students_student_id ON public.assignment_students USING btree (student_id);


--
-- Name: ix_assignments_class_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignments_class_id ON public.assignments USING btree (class_id);


--
-- Name: ix_assignments_folder_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignments_folder_id ON public.assignments USING btree (folder_id);


--
-- Name: ix_assignments_mode; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignments_mode ON public.assignments USING btree (mode);


--
-- Name: ix_assignments_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignments_status ON public.assignments USING btree (status);


--
-- Name: ix_assignments_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_assignments_teacher_id ON public.assignments USING btree (teacher_id);


--
-- Name: ix_attendances_schedule_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_attendances_schedule_id ON public.attendances USING btree (schedule_id);


--
-- Name: ix_attendances_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_attendances_student_id ON public.attendances USING btree (student_id);


--
-- Name: ix_campuses_name; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_campuses_name ON public.campuses USING btree (name);


--
-- Name: ix_class_ppts_class_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_class_ppts_class_id ON public.class_ppts USING btree (class_id);


--
-- Name: ix_class_ppts_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_class_ppts_teacher_id ON public.class_ppts USING btree (teacher_id);


--
-- Name: ix_classes_name; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_classes_name ON public.classes USING btree (name);


--
-- Name: ix_commission_rules_key; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_commission_rules_key ON public.commission_rules USING btree (key);


--
-- Name: ix_evaluations_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_evaluations_student_id ON public.evaluations USING btree (student_id);


--
-- Name: ix_evaluations_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_evaluations_teacher_id ON public.evaluations USING btree (teacher_id);


--
-- Name: ix_feedbacks_schedule_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_feedbacks_schedule_id ON public.feedbacks USING btree (schedule_id);


--
-- Name: ix_feedbacks_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_feedbacks_student_id ON public.feedbacks USING btree (student_id);


--
-- Name: ix_invitations_staff_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_invitations_staff_id ON public.invitations USING btree (staff_id);


--
-- Name: ix_invitations_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_invitations_status ON public.invitations USING btree (status);


--
-- Name: ix_invitations_trial_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_invitations_trial_teacher_id ON public.invitations USING btree (trial_teacher_id);


--
-- Name: ix_job_titles_name; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_job_titles_name ON public.job_titles USING btree (name);


--
-- Name: ix_knowledge_collections_doc_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_knowledge_collections_doc_id ON public.knowledge_collections USING btree (doc_id);


--
-- Name: ix_knowledge_collections_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_knowledge_collections_user_id ON public.knowledge_collections USING btree (user_id);


--
-- Name: ix_knowledge_documents_enabled; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_knowledge_documents_enabled ON public.knowledge_documents USING btree (enabled);


--
-- Name: ix_knowledge_documents_owner_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_knowledge_documents_owner_id ON public.knowledge_documents USING btree (owner_id);


--
-- Name: ix_knowledge_documents_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_knowledge_documents_status ON public.knowledge_documents USING btree (status);


--
-- Name: ix_knowledge_documents_visibility; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_knowledge_documents_visibility ON public.knowledge_documents USING btree (visibility);


--
-- Name: ix_lesson_packages_subject_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_lesson_packages_subject_id ON public.lesson_packages USING btree (subject_id);


--
-- Name: ix_lesson_packages_tag; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_lesson_packages_tag ON public.lesson_packages USING btree (tag);


--
-- Name: ix_lesson_records_record_type; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_lesson_records_record_type ON public.lesson_records USING btree (record_type);


--
-- Name: ix_lesson_records_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_lesson_records_student_id ON public.lesson_records USING btree (student_id);


--
-- Name: ix_notifications_type; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_notifications_type ON public.notifications USING btree (type);


--
-- Name: ix_notifications_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_notifications_user_id ON public.notifications USING btree (user_id);


--
-- Name: ix_orders_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_orders_status ON public.orders USING btree (status);


--
-- Name: ix_orders_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_orders_student_id ON public.orders USING btree (student_id);


--
-- Name: ix_payroll_entries_month; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_payroll_entries_month ON public.payroll_entries USING btree (month);


--
-- Name: ix_payroll_entries_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_payroll_entries_user_id ON public.payroll_entries USING btree (user_id);


--
-- Name: ix_prompt_templates_owner_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_prompt_templates_owner_id ON public.prompt_templates USING btree (owner_id);


--
-- Name: ix_prompt_templates_scope; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_prompt_templates_scope ON public.prompt_templates USING btree (scope);


--
-- Name: ix_questions_assignment_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_questions_assignment_id ON public.questions USING btree (assignment_id);


--
-- Name: ix_questions_type; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_questions_type ON public.questions USING btree (type);


--
-- Name: ix_reports_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_reports_teacher_id ON public.reports USING btree (teacher_id);


--
-- Name: ix_reports_type; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_reports_type ON public.reports USING btree (type);


--
-- Name: ix_revenue_ledger_consumed_at; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_revenue_ledger_consumed_at ON public.revenue_ledger USING btree (consumed_at);


--
-- Name: ix_revenue_ledger_schedule_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_revenue_ledger_schedule_id ON public.revenue_ledger USING btree (schedule_id);


--
-- Name: ix_revenue_ledger_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_revenue_ledger_student_id ON public.revenue_ledger USING btree (student_id);


--
-- Name: ix_revenue_ledger_subject_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_revenue_ledger_subject_id ON public.revenue_ledger USING btree (subject_id);


--
-- Name: ix_revenue_ledger_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_revenue_ledger_teacher_id ON public.revenue_ledger USING btree (teacher_id);


--
-- Name: ix_schedules_class_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_schedules_class_id ON public.schedules USING btree (class_id);


--
-- Name: ix_schedules_start_time; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_schedules_start_time ON public.schedules USING btree (start_time);


--
-- Name: ix_schedules_teacher_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_schedules_teacher_id ON public.schedules USING btree (teacher_id);


--
-- Name: ix_students_campus; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_students_campus ON public.students USING btree (campus);


--
-- Name: ix_students_follow_up_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_students_follow_up_status ON public.students USING btree (follow_up_status);


--
-- Name: ix_students_lesson_balance; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_students_lesson_balance ON public.students USING btree (lesson_balance);


--
-- Name: ix_students_name; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_students_name ON public.students USING btree (name);


--
-- Name: ix_students_source; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_students_source ON public.students USING btree (source);


--
-- Name: ix_students_student_user_id; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_students_student_user_id ON public.students USING btree (student_user_id);


--
-- Name: ix_students_trial_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_students_trial_status ON public.students USING btree (trial_status);


--
-- Name: ix_subjects_name; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_subjects_name ON public.subjects USING btree (name);


--
-- Name: ix_submissions_assignment_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_submissions_assignment_id ON public.submissions USING btree (assignment_id);


--
-- Name: ix_submissions_status; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_submissions_status ON public.submissions USING btree (status);


--
-- Name: ix_submissions_student_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_submissions_student_id ON public.submissions USING btree (student_id);


--
-- Name: ix_teacher_levels_name; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_teacher_levels_name ON public.teacher_levels USING btree (name);


--
-- Name: ix_teacher_llm_configs_owner_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_teacher_llm_configs_owner_id ON public.teacher_llm_configs USING btree (owner_id);


--
-- Name: ix_users_campus; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_users_campus ON public.users USING btree (campus);


--
-- Name: ix_users_role; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_users_role ON public.users USING btree (role);


--
-- Name: ix_users_teacher_level_id; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_users_teacher_level_id ON public.users USING btree (teacher_level_id);


--
-- Name: ix_users_title; Type: INDEX; Schema: public; Owner: app
--

CREATE INDEX ix_users_title ON public.users USING btree (title);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: app
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: agent_conversation_summaries agent_conversation_summaries_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_conversation_summaries
    ADD CONSTRAINT agent_conversation_summaries_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.agent_conversations(id) ON DELETE CASCADE;


--
-- Name: agent_conversations agent_conversations_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_conversations
    ADD CONSTRAINT agent_conversations_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: agent_memories agent_memories_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_memories
    ADD CONSTRAINT agent_memories_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: agent_messages agent_messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.agent_messages
    ADD CONSTRAINT agent_messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.agent_conversations(id) ON DELETE CASCADE;


--
-- Name: assignment_class_links assignment_class_links_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_class_links
    ADD CONSTRAINT assignment_class_links_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: assignment_class_links assignment_class_links_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_class_links
    ADD CONSTRAINT assignment_class_links_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: assignment_folders assignment_folders_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_folders
    ADD CONSTRAINT assignment_folders_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: assignment_students assignment_students_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_students
    ADD CONSTRAINT assignment_students_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: assignment_students assignment_students_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignment_students
    ADD CONSTRAINT assignment_students_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: assignments assignments_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: assignments assignments_folder_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_folder_id_fkey FOREIGN KEY (folder_id) REFERENCES public.assignment_folders(id) ON DELETE SET NULL;


--
-- Name: assignments assignments_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: attendances attendances_operator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES public.users(id);


--
-- Name: attendances attendances_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(id);


--
-- Name: attendances attendances_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.attendances
    ADD CONSTRAINT attendances_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: class_ppts class_ppts_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.class_ppts
    ADD CONSTRAINT class_ppts_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: class_ppts class_ppts_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.class_ppts
    ADD CONSTRAINT class_ppts_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: classes classes_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: evaluations evaluations_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: evaluations evaluations_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.evaluations
    ADD CONSTRAINT evaluations_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: feedbacks feedbacks_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(id);


--
-- Name: feedbacks feedbacks_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: invitations invitations_staff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.users(id);


--
-- Name: invitations invitations_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id);


--
-- Name: invitations invitations_trial_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_trial_class_id_fkey FOREIGN KEY (trial_class_id) REFERENCES public.classes(id);


--
-- Name: invitations invitations_trial_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_trial_schedule_id_fkey FOREIGN KEY (trial_schedule_id) REFERENCES public.schedules(id);


--
-- Name: invitations invitations_trial_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_trial_student_id_fkey FOREIGN KEY (trial_student_id) REFERENCES public.students(id);


--
-- Name: invitations invitations_trial_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_trial_teacher_id_fkey FOREIGN KEY (trial_teacher_id) REFERENCES public.users(id);


--
-- Name: knowledge_collections knowledge_collections_doc_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.knowledge_collections
    ADD CONSTRAINT knowledge_collections_doc_id_fkey FOREIGN KEY (doc_id) REFERENCES public.knowledge_documents(id) ON DELETE CASCADE;


--
-- Name: knowledge_collections knowledge_collections_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.knowledge_collections
    ADD CONSTRAINT knowledge_collections_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: knowledge_documents knowledge_documents_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.knowledge_documents
    ADD CONSTRAINT knowledge_documents_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: lesson_packages lesson_packages_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.lesson_packages
    ADD CONSTRAINT lesson_packages_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id);


--
-- Name: lesson_records lesson_records_operator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.lesson_records
    ADD CONSTRAINT lesson_records_operator_id_fkey FOREIGN KEY (operator_id) REFERENCES public.users(id);


--
-- Name: lesson_records lesson_records_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.lesson_records
    ADD CONSTRAINT lesson_records_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: notifications notifications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: orders orders_package_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_package_id_fkey FOREIGN KEY (package_id) REFERENCES public.lesson_packages(id);


--
-- Name: orders orders_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: payroll_entries payroll_entries_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.payroll_entries
    ADD CONSTRAINT payroll_entries_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: prompt_templates prompt_templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prompt_templates
    ADD CONSTRAINT prompt_templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: prompt_templates prompt_templates_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.prompt_templates
    ADD CONSTRAINT prompt_templates_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: questions questions_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: reports reports_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: revenue_ledger revenue_ledger_schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.revenue_ledger
    ADD CONSTRAINT revenue_ledger_schedule_id_fkey FOREIGN KEY (schedule_id) REFERENCES public.schedules(id);


--
-- Name: revenue_ledger revenue_ledger_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.revenue_ledger
    ADD CONSTRAINT revenue_ledger_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: revenue_ledger revenue_ledger_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.revenue_ledger
    ADD CONSTRAINT revenue_ledger_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id);


--
-- Name: revenue_ledger revenue_ledger_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.revenue_ledger
    ADD CONSTRAINT revenue_ledger_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: schedules schedules_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: schedules schedules_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.schedules
    ADD CONSTRAINT schedules_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id);


--
-- Name: student_classes student_classes_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.student_classes
    ADD CONSTRAINT student_classes_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: student_classes student_classes_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.student_classes
    ADD CONSTRAINT student_classes_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON DELETE CASCADE;


--
-- Name: students students_parent_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_parent_user_id_fkey FOREIGN KEY (parent_user_id) REFERENCES public.users(id);


--
-- Name: students students_student_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_student_user_id_fkey FOREIGN KEY (student_user_id) REFERENCES public.users(id);


--
-- Name: submissions submissions_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.assignments(id) ON DELETE CASCADE;


--
-- Name: submissions submissions_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.submissions
    ADD CONSTRAINT submissions_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id);


--
-- Name: teacher_llm_configs teacher_llm_configs_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_llm_configs
    ADD CONSTRAINT teacher_llm_configs_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: teacher_module_models teacher_module_models_config_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_module_models
    ADD CONSTRAINT teacher_module_models_config_id_fkey FOREIGN KEY (config_id) REFERENCES public.teacher_llm_configs(id) ON DELETE SET NULL;


--
-- Name: teacher_module_models teacher_module_models_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_module_models
    ADD CONSTRAINT teacher_module_models_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id);


--
-- Name: teacher_permissions teacher_permissions_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: app
--

ALTER TABLE ONLY public.teacher_permissions
    ADD CONSTRAINT teacher_permissions_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 3upwNDQbgPw3Ut3xjXCiNXfvTIGNrD2iafgE3FZ0iycpuMBq3fEUK9G1oTNVQWB

